input {
  padding: $base-spacing-unit;
  background-color: rgba(0, 0, 0, 0.6);
  color: inherit;
  display: block;
  font: inherit;
  border: none;
  outline: none;
  border-radius: 5px;

  &[disabled] {
    background-color: rgba(0, 0, 0, 0.4);
    color: $color-gray-light;
    cursor: not-allowed;
  }
}
